*{
    margin: 0;
    box-sizing: border-box;
}
html{
    height: 300vh;
}
/* div{
    padding: 5vh;
} */
.wrapper{
width: 70vmin;
height: 70vmin;
margin: 5vh auto;

position: relative;

background-color:blueviolet;
}
.inner-block{
    width: 70%;
    height: 50%;
    background-color: rgb(169, 169, 103);

    position: relative;

}
.absolute{
    position: absolute;
    top: 50%;
    right: 0;
}
.block{
    width: 100px;
    height: 100px;
    outline: 1px solid #222;
    background-color:brown;
}
.margin-left{
    margin-left: 30px;
    margin-top: 20px;
}
.static{
    position: static;
    /* top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 1; */
}
.relative{
    position: relative;
    top: 10%;
    left: 10%;
    z-index: 1;
}
.fixed{
    position: fixed;
    bottom: 0;
    right: 0;
    z-index: 999;
}
